/* ===== Skills Section ===== */
.skills {
    background-color: #0a0f1a;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.section-title {
    font-size: 34px;
    font-weight: 800;
    margin: 0 0 28px
}

.section-title span {
    color: #00bcd4;
}

.skills-card {
    background: #0f1724;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    padding: 40px;
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
    overflow: hidden;
    position: relative;
}

.skills-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slide-track {
    display: flex;
    width: calc(230px * 20);
    animation: scroll 35s linear infinite;
}

.skill-card {
    background: #111b2e;
    border-radius: 16px;
    width: 200px;
    height: 200px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: transform 0.3s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.skill-card:hover {
    transform: scale(1.1);
}

.skill-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-230px * 10));
    }
}

.skills-slider::before,
.skills-slider::after {
    content: "";
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 2;
}

.skills-slider::before {
    left: 0;
    background: linear-gradient(to right, #0f1724 0%, transparent 100%);
}

.skills-slider::after {
    right: 0;
    background: linear-gradient(to left, #0f1724 0%, transparent 100%);
}